 
*{
  transition: all .2s ease-out;
 
}
 
.App {
 
  color: white;
 
}
body{
  background-image:url(../../assets/star_wars_bg.webp);
background-position: 50%;
background-size: cover;
background-repeat: no-repeat;
}
#root{
 
 
}
.page_wrapper {
  position: relative;
 
 
 
 
}
 
.container {
  width: 100%;
 
}
//  #region Header
.header {
  position: relative; 
  padding: 20px 0 20px 0;
  width: 100%;
  max-width: 100%;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  // text-shadow: 1.3px 0.3px 1.3px rgb(192, 188, 188);
  text-transform: uppercase;
 
  height: 50px;
  // background: #992308b0;
  background-color: rgba(3, 12, 31, 0.578);
 
}

 
.logo_N_nav_wrapper{
  gap: 50px;
  display: flex;
 
  
}
.logo_wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

}
.logo {
  padding: 2px;
  width: 100%;
  height: 100%;
}
.helper{
  font-size: 20px;
  line-height: 20px;
}
 
.header__Nav{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:start;
  text-align: center;
  align-items: center;
  *:not(:first-child){
    position: relative;
    white-space:nowrap;
    &:hover, :active, :focus :target{
      cursor: pointer;
      transform: scale(1.1);
      color: rgb(9, 7, 7)
    }
    a{
      position: absolute;
      bottom: 0;top: 0;left: 0;right: 0;
      z-index: 5;
      
    }
   
  }
 
}

.card_overlay{
 
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 290px;
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 0;
  transition: opacity .2s;
}
.header__Search-bar {
  display: flex;
  align-items: center;
  gap: 20px;

}
.search_wrapp {
  position: relative;
  width: 250px;
  height: 20px;
  box-shadow: -27px 22px 69px 27px rgba(84, 64, 239, 0.66);
  border-radius: 8px;

}
.search-field{
  font-size: 16px;
  line-height: 16px;

   &::placeholder{
    padding-left: 5px;
      letter-spacing: .4px;
    
      color: rgb(255, 254, 254);
      text-shadow: none;
    background-color: transparent;
 
  }}
 
.search_icon{
  width: 30px;
  height: 30px;
  position: absolute;
  right: -5px;
  top: -5px;
   
}
.toSearch{
  position: absolute;
  right: 0;
  top:0;
  height: 20px;
  width: 20px;
}
.acc_wrapp {
  width: 50px;
  height: 50px;
}
.acc_icon{
width: 100%;
height: 100%;
}
// #endregion
//  #region hero
.hero-slider{
  z-index: 1; 
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: 45%;
  position: fixed;
  bottom: 0;
 overflow: hidden;
 
  background-color: rgb(3 12 31 / 69%);

}
#start{
  display: none;
  &:target{
    display: block;
  }
}
.hero_heading_wrapper{

  display: flex;
  text-align: center;
 position: fixed;
 justify-content: center;
 width: 100%;
 max-width: 100vw;
bottom: 48%;
  box-shadow: -18px -15px 53px 4px #00000096;
-webkit-box-shadow: -18px -15px 53px 4px rgba(104,90,90,0.75);
-moz-box-shadow: -18px -15px 53px 4px rgba(104,90,90,0.75);
 
 
 
  background-color: #00000057;
}
.swiper{
 overflow: hidden;

}
.swiper-wrapper{
left: 5%;
}
 
.swiper-slide{

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items:flex-start; 
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
 opacity: 0.9;
 -webkit-transform-origin: 50% 50%;
 -moz-transform-origin: 50% 50%;
 -ms-transform-origin: 50% 50%;
 -o-transform-origin: 50% 50%;
 transform-origin: 50% 50%;
 -webkit-transform: perspective(350px) rotateX(10deg);
 -moz-transform: perspective(350px) rotateX(10deg);
 -ms-transform: perspective(350px) rotateX(10deg);
 -o-transform: perspective(350px) rotateX(10deg);
 transform: perspective(350px) rotateX(10deg);

   
  .movie_card_desc{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    justify-content: center;
    align-items: center;
 
  }
 .movieCardPoster{
  max-height: 300px;
  position: relative;

  }
 
 }
  .movie_card_title{

  text-align: center;
    font-size: 1.5rem;
  line-height: 1.5rem;
  display: block;
  width: 100%;
  text-transform: capitalize;

  }
  .movie_card_year{
    font-size: 1.5rem;
 
  display: block;
  width: 100%;
  text-transform: capitalize;

  
  margin-bottom: 5px;
  }
  .movie_card_details{
 position: absolute;
 right: 0;
 left: 0;
 bottom: 0;
 top: 0;
 z-index: 1;
   
    width: 100%;
   display: flex;
   justify-content: center;
   align-items:flex-end;
   text-align: center;
   text-transform: uppercase;
   font-size: 1rem;

  }
 
  .cards {
    display: inline-block;
    transition: transform .2s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0.19rem;
    cursor:pointer;
    min-width:200px;
    height:200px;
    z-index:0;
    border: 1px solid rgb(99, 99, 99);
}

.cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards_img {
    height: 300px;
}

.cards_overlay {
    position: absolute;
    padding: 5px;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.cards_overlay:hover {
    opacity: 1;
}

.card_title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card_runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card_rating {
    float: right;
}

.card_description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
}
  .header {

    align-items: center;
    display: flex;
    justify-content:space-evenly;
    
}

.headerNav, .headerNav2 {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;    
}
 
a > span{
    margin: 50px;
    font-size: 2rem;
 
    // color: rgb(67, 63, 180);
    transform: scale(1.1);
}

a > span:hover {
    color: rgb(151, 153, 161)(0, 123, 255);
}

.header_icon {
    width: 40px;
    cursor: pointer;
}
.header_icon{
    width: 100px;
    height: 50px;
    border-radius: 8px;
}
.user_avatar {
    font-size: 2rem;
}

 

.list_title {
 
font-size: 3rem;
margin:  5px;
// text-shadow: 1.3px 0.3px 1.3px rgb(192, 188, 188);
// color: rgb(67, 63, 180);
}

.list_cards {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
  align-items: center;
}
 



.posterImage{
  height: 500px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
}
#root > div > div.poster > div.swiper.swiper-initialized.swiper-horizontal > div > div.swiper-slide.swiper-slide-active{
  max-width: 90%;
}
.posterImage_overlay {
  position: absolute;
  padding: 30px;
  bottom: 0px;
  height: 70%;  display: flex;
  flex-direction: column;
  width: 700%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
  opacity: 1;
  transition: opacity .3s;
}   

.posterImage_overlay:hover {
  opacity: 1;
}

.posterImage_title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 0.6rem;
  text-align: left;
  max-width: 500px;
}

.posterImage_runtime {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.posterImage_rating {
  margin-left: 3rem;
}

.posterImage_description {
  font-style: italic;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  display: flex;
  text-align: left;
  max-width: 500px;
  max-height: 300px;
 
 }






.movie {
  top: 5vh;

  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  overflow: hidden;
 justify-content: center;
}

.movie_intro {
  width: 80%;
  border-radius: 4px;
}

.movie_back {
  width: 100%;
  height: 50vh;
  object-fit:cover;
  object-position: 0 35%;
 
}

.movie_detail {
  align-items: center;
  width: 70%;
  display: flex;
  position: relative;
  bottom: 25vh;
}

.movie_detailLeft {
  margin-right: 30px;
}

.movie_poster {
  width:300px;
  border-radius: 10px;
  box-shadow: rgba(96, 68, 68, 0.86) 0px 22px 40px 6px;
}

.movie_detailRight {
  padding: 5px;
  border-radius: 4px;
  background-color: #dddddd92;
  color: rgb(19, 19, 19);
  text-shadow: .4px .5px .3px rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  height:auto;
  justify-content:space-between ;
}

.movie_detailRightTop > div{
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: .5rem;
}

.movie_name {
  font-weight: 600;
  font-size: 2.5rem;
}

.movie_voteCount {
  margin-left: 1rem;
}

.movie_genres {
  margin: 0.75rem;
}

.movie_genre {
  padding: .5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}


.movie_detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.descText {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.descText > div:last-of-type {
  margin-left: auto;

}


.movie_links {
  position: relative;
  bottom: 20vh;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.movie_heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.2rem;
  color: #000;
  text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
}

.movie_Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.movie_homeButton {
  background-color:rgb(207, 198, 198);
  
}

.movie_imdbButton {
  background-color:rgb(207, 198, 198);
  box-shadow: rgba(237, 207, 207, 0.86) 0px 1px 18px 11px;
}

.newTab {
  margin-left: 1.4rem;
}

.movie_production {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
}


.movie_productionComapany {
  width: 200px;
  margin: 2rem;
}

.productionCompanyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
@media (max-width: 576px) {


}