 *{
  //  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;
  font-family: "Droid Sans", arial, verdana, sans-serif;
  font-weight: 700;
  color: #ff6;
  color: #000;
	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
 }
 .nav_item{
    color: #b38a8a;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .7px;
 }
 .hero_heading{
    
    color: #e84353b0;
 
    text-shadow: 1.7px 1.7px 1.7px rgba(255, 255, 255, 0.963);
    color: #b38a8a;
    font-family: 'Bebas Neue', sans-serif;
 
 }
 @media (min-width: 576px) {
    *{font-size: 14px ;}
 
.hero_heading{
    font-size: 1.5rem;

}}
 
 @media (min-width: 768px) {
     *{font-size: 14px }
 
   }
 
 // Large devices (desktops, 992px and up)
 @media (min-width: 992px) {
     *{font-size: 16px }
    }
 // X-Large devices (large desktops, 1200px and up)
 @media (min-width: 1200px) { 
    *{font-size: 16px }}
 
 // XX-Large devices (larger desktops, 1400px and up)
 @media (min-width: 1400px) {
    *{ font-size: 20px}}
