.header {

    align-items: center;
    display: flex;
    justify-content:space-between;
    
}

.headerNav, .headerNav2 {
    display: flex;
    align-items: center;
    justify-content: center;    
}
a{
    
}
a > span{
    margin: 50px;
    font-size: 1.25rem;
 
    color: rgb(67, 63, 180);
    transform: scale(1.1);
}

a > span:hover {
    color: rgb(151, 153, 161)(0, 123, 255);
}

.header_icon {
    width: 40px;
    cursor: pointer;
}
.header_icon{
    width: 100px;
    height: 50px;
    border-radius: 8px;
}
.user_avatar {
    font-size: 2rem;
}

